.contribution {
    position: relative;
    height: 15px;
    width: 15px;
    &__tooltip{
    position: absolute;
    top: -48px;
    right: -90px;
    }
    &__none {
        background: var(--contributions-none);
    }
    &__low {
        background: var(--contributions-low);
    }
    &__normal {
        background: var(--contributions-normal);
    }
    &__high {
        background: var(--contributions-high);
    }
    &__veryhigh {
        background: var(--contributions-very-high);
    }
    &:hover{
        border: 1px solid rgba(0, 0, 0, 0.50);
    }

}
