:root{
    --contributions-none: #EDEDED;
    --contributions-low: #ACD5F2;
    --contributions-normal: #7FA8C9;
    --contributions-high: #527BA0;
    --contributions-very-high: #254E77;

    --grey-default: #959494;
    --grey-dark: #7C7C7C;
}

