@import "../../styles/mixins";
.contributions {
    &__count {
        @include font-normal(10px);
        color: #fff;
    }
    &__date {
        @include font-normal(10px);
        color: var(--grey-dark);
    }
}

.tooltip {
    &__visible{
        display: block;
    }
    &__hidden{
        display: none;
    }
    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        align-items: center;
    }
    background: #000;
    width: max-content;
    height: max-content;
    padding: 6px 9px;
    border-radius: 3px;
    position: absolute;
    &::before {
        content: "";
        position: absolute;
        top: 25px;
        left: 37%;
        z-index: -1;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #000;
    }
}
